<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="elektrikář, elektroinstalace, revize, elektro, hromosvody, Frýdek-Místek, Ostrava, Karviná">
    <meta name="description" content="{{ metaDescription | default("") }}">
    <meta name="author" content="Jan Mikeš - j.mikes@me.com">
    <meta name="robots" content="index, follow">

    <title>{{ title | default("Elektrikáři z Frýdku-Místku") }}</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/glightbox/css/glightbox.min.css">

    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="apple-mobile-web-app-title" content="Elektrikáři" />

    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4V7PF8X53R"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-4V7PF8X53R');
    </script>
</head>
<body>
    <div class="wrapper">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                <div class="container">
                    <a class="navbar-brand" href="/">
                        <img class="logo" src="/images/elektrikari-fm-logo.png" alt="Elektrikáři Frýdek-Místek">
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav ms-auto">
                            {% for menuItem in menuItems %}
                                <li class="nav-item">
                                    <a class="nav-link mt-1 mt-md-0 me-md-1 fs-5 {% if page.url == menuItem.url %}active bg-primary text-white{% endif %}" href="{{ menuItem.url }}">{{ menuItem.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        {{ content | safe }}

        <footer class="bg-primary text-white py-4 position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>Můžete volat denně: <a href="tel:+420721030980" class="text-white">+420 721 030 980</a></p>
                        <p>E-mail: <a href="mailto:info@elektrikari-fm.cz" class="text-white">info@elektrikari-fm.cz</a></p>
                    </div>
                    <div class="col-md-6 mt-3 mt-md-0">
                        <p class="small">Jsme elektrikáři z Frýdku-Místku. Naše působnost zahrnuje nejen Frýdek-Místek, ale také okolní okresy jako Karviná, Opava, Vsetín, Nový Jičín a Ostrava. Milujeme naše řemeslo a věříme, že kvalitně odvedená práce je tou nejlepší vizitkou.</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/glightbox/js/glightbox.min.js"></script>

    <script type="text/javascript">
        const lightbox = GLightbox();
    </script>
</body>
</html>
