<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | default("Elektrikari-fm.cz") }}</title>
    <link rel="stylesheet" href="/styles/webpixels.css">
    <link rel="stylesheet" href="/styles/bundle.css">
</head>
<body>
    <!-- Navbar -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link {% if page.url == '/' %}active{% endif %}" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if page.url == '/about/' %}active{% endif %}" href="/about/">O nás</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if page.url == '/contact/' %}active{% endif %}" href="/contact/">Kontakt</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="text-center mt-20 mb-12">
        <h1 class="">
            <span class="display-3 d-inline-flex text-transparent bg-clip-text gradient-bottom-right start-purple-500 end-indigo-400 position-relative">Elektrikáři</span>
            <br><span class="display-5">z Frýdku-Místku</span>
        </h1>

        <p class="text-lg font-semibold mt-5 px-3">Děláme naše řemeslo s láskou a maximální péčí.<br>100% kvalita a spokojenost zákazníka jsou pro nás prioritou a naší vizitkou!</p>

        <p class="text-lg font-semibold mt-5 px-3">Elektroinstalace &dot; Hromosvody &dot; Revize</p>

        <div class="mx-sm-n2 mt-7">
            <a href="#" class="btn btn-outline-dark" target="_blank"><span>Reference</span></a>
            <a href="#" class="btn btn-dark" target="_blank"><span>Kontaktujte nás</span></a>
        </div>
    </div>

    <!-- Main content -->
    <main class="container mt-4">
        {{ content | safe }}
    </main>

    <!-- Footer -->
    <footer class="bg-light text-center py-4 mt-5">
        ...
    </footer>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
