---
layout: layout.njk
title: Elektrikáři z Frýdku-Místku - Elektroinstalace, Hromosvody, Revize
---

<div class="text-center mt-20 mb-12">
    <h1 class="">
        <span class="display-3">Jsme</span> <span class="display-3 d-inline-flex text-transparent bg-clip-text gradient-bottom-right start-purple-500 end-indigo-400 position-relative">elektrikáři</span>
        <br><span class="display-6">z Frýdku-Místku.</span>
    </h1>

    <p class="text-lg font-semibold mt-5 px-3">Děláme naše řemeslo s láskou a maximální péčí.<br>100% kvalita a spokojenost zákazníka jsou pro nás prioritou a naší vizitkou!</p>

    <p class="text-lg font-semibold mt-5 px-3">Elektroinstalace &dot; Hromosvody &dot; Revize</p>

    <div class="mx-sm-n2 mt-7">
        <a href="#" class="btn btn-outline-dark" target="_blank"><span>Reference</span></a>
        <a href="#" class="btn btn-dark" target="_blank"><span>Kontaktujte nás</span></a>
    </div>
</div>
