---
layout: layout.njk
title: Elektrikáři z Frýdku-Místku - Elektroinstalace, Hromosvody, Revize
---

<main class="noisy py-4">
    <div class="container">
        <div class="text-center mt-20 mb-12">
            <h1 class="">
                <span class="display-3">Jsme</span> <span class="display-3 d-inline-flex text-transparent bg-clip-text gradient-bottom-right start-purple-500 end-indigo-400 position-relative">elektrikáři</span>
                <br><span class="display-6">z Frýdku-Místku.</span>
            </h1>

            <div class="mx-sm-n2 mt-7">
                <a href="#" class="btn btn-outline-primary bg-light text-dark me-2 shadow" target="_blank"><span>Reference</span></a>
                <a href="#" class="btn btn-primary shadow" target="_blank"><span>Kontaktujte nás</span></a>
            </div>

            <div class="row mt-5">
                <div class="col-md-4 my-5 gx-20">
                    <a href="#">
                        <div class="card card-body shadow">
                            <h3 class="text-primary">Elektroinstalace</h3>
                            <p>Profesionální služby pro váš domov i podnikání</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 my-5 gx-20">
                    <a href="#">
                        <div class="card card-body shadow">
                            <h3 class="text-primary">Rezive</h3>
                            <p>Bezpečí a spolehlivost na prvním místě</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 my-5 gx-20">
                    <a href="#">
                        <div class="card card-body shadow">
                            <h3 class="text-primary">Hromosvody</h3>
                            <p>Ochrana, na kterou se můžete spolehnout</p>
                        </div>
                    </a>
                </div>
            </div>

            <p class="text-lg font-semibold mt-5 px-3">Děláme naše řemeslo s láskou a maximální péčí.<br>100% kvalita a spokojenost zákazníka jsou pro nás prioritou a naší vizitkou!</p>
        </div>
    </div>
</main>

