---
layout: layout.njk
title: O nás - Elektrikáři z Frýdku-Místku
---

<main class="container py-8">
    <section>
        <h1 class="text-primary">O nás</h1>
        <div class="row">
            <div class="col-md-6">
                <p>Jsme tým zkušených elektrikářů z Frýdku-Místku, kteří se specializují na poskytování profesionálních elektroinstalačních služeb včetně oprav, revizí a montáží hromosvodů. Naše působnost zahrnuje nejen Frýdek-Místek, ale také okolní okresy jako Karviná, Opava, Vsetín, Nový Jičín a Ostrava.</p>
                <p>Milujeme naše řemeslo a věříme, že kvalitně odvedená práce je tou nejlepší vizitkou. Naším cílem je 100% spokojenost zákazníků, která nás motivuje být každý den lepší. Každou zakázku realizujeme s maximální péčí, precizností a s důrazem na vaše individuální potřeby.</p>
                <p>Ať už potřebujete novou elektroinstalaci, odbornou revizi nebo opravu, jsme tu pro vás. Kontaktujte nás a přesvědčte se, že naše práce splní vaše očekávání!</p>

                <p class="mt-6 text-center">
                    <a href="/kontakt/" class="btn btn-primary me-2 shadow">Kontaktujte nás</a>
                    <a href="/reference/" class="btn btn-outline-dark shadow">Naše reference</a>
                </p>
            </div>
            <div class="col-md-6 text-center">
                <img src="/images/thumbnails/o-nas.jpg" alt="O nás - Elektrikáři FM" class="img-fluid img-thumbnail">
            </div>
        </div>
    </section>
</main>
