---
layout: layout.njk
title: Naše reference - Elektrikáři Frýdek-Místek
---

<main class="container py-8">
    <section>
        <h1 class="text-primary mb-1">Naše reference</h1>

        <p>
            Prohlédněte si naši galerii a přesvědčte se sami o kvalitě naší práce. Jsme hrdí na každou realizaci, která splnila očekávání našich zákazníků.
        </p>

        <div class="d-flex flex-wrap justify-content-around text-center mt-5">
            {% for reference in references %}
                <div class="m-3">
                    <div class="card card-body shadow pb-2 border-primary">
                        <h2 class="h4 mb-4">{{ reference.title }}</h2>
                        <div class="d-flex flex-wrap justify-content-around">
                            {% for image in reference.images %}
                                <a class="glightbox mx-3 mb-4" href="/images/{{ image }}" target="_blank">
                                    <img src="/images/thumbnails/{{ image }}" class="img-fluid rounded reference-img" alt="{{ reference.title }}">
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</main>
